<navbar>
  <li access-level="accessLevels.admin" active-nav>
    <a href="/#/admin">Dashboard</a>
  </li>
  <li access-level="accessLevels.admin" active-nav>
    <a href="/#/admin/movies/new">Add Movie</a>
  </li>
  <li access-level="accessLevels.admin" active-nav>
    <a href="/#/admin/users/new">Add User</a>
  </li>
</navbar>
<admin-dashboard-nav reports="(reports | filter:{status:'open'}).length"></admin-dashboard-nav>

<div class="row">
  <div class="col-md-3">
    <legend>State</legend>
    <ul class="nav nav-pills" style="font-size: 0.9em;">
      <li ng-class="{ active: isFilterActive('open')}"><a href="" ng-click="statusFilter = 'open'">Open <span class="badge">{{(reports | filter:{status:'open'}).length}}</span></a></li>
      <li ng-class="{ active: isFilterActive('closed')}"><a href="" ng-click="statusFilter = 'closed'">Closed</a></li>
      <li ng-class="{ active: isFilterActive('')}"><a href="" ng-click="statusFilter = ''">All</a></li>
    </ul>
  </div>
  <div class="col-md-9">
    <alert type="'info'" class="text-center" ng-if="(reports | filter:{status:statusFilter}).length <= 0">
      No reports to show
    </alert>
    <table class="table table-bordered">
      <tbody>
      <tr class="report" ng-repeat="report in reports | filter:{status:statusFilter}">
        <td style="border-right: none;">
          <media media-id="{{report.media}}"></media>{{report.body}}
        </td>
        <td class="text-right" style="border-left: none;">
          <button ng-if="report.status != 'open'" class="btn btn-sm btn-primary" ng-click="updateStatus(report, 'open')">Reopen</button>
          <button ng-if="report.status != 'closed'" class="btn btn-sm btn-success" ng-click="updateStatus(report, 'closed')">Close</button>
          <button ng-if="report.status != 'discarted'" class="btn btn-sm btn-danger" ng-click="updateStatus(report, 'discarted')">Discard</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>