<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="./#/">Private Theater Dashboard</a>
  </div>
  <div class="collapse navbar-collapse">
  </div>
</nav>
<legend>Post new movie</legend>
<h-form action="/admin/movies/new" method="post">
  <h-form-input name="name" label="Title" type="text"></h-form-input>
  <h-form-input name="year" label="Release year" type="number"></h-form-input>
  <h-form-input name="imageUrl" label="Image URL" type="url"></h-form-input>
  <h-form-input name="genders" label="Genders" type="text"></h-form-input>
  <h-form-input name="imdbUrl" label="IMDB URL" type="url"></h-form-input>
  <h-form-input name="filmaffinityUrl" label="Filmaffinity URL" type="url"></h-form-input>
  <br>
  <h-form-input name="HD" label="HD Source" type="url"></h-form-input>
  <h-form-input name="SD" label="SD Source" type="url"></h-form-input>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</h-form>