<navbar>
  <li access-level="accessLevels.admin" active-nav>
    <a href="/#/admin">Dashboard</a>
  </li>
  <li access-level="accessLevels.admin" active-nav>
    <a href="/#/admin/movies/new">Add Movie</a>
  </li>
  <li access-level="accessLevels.admin" active-nav>
    <a href="/#/admin/users/new">Add User</a>
  </li>
</navbar>
<admin-dashboard-nav></admin-dashboard-nav>
<h1>Movies reports</h1>
<table class="table table-striped">
  <tbody>
    <tr class="report" ng-repeat="report in reports">
      <td>
        <media media-id="{{report.media}}"></media>{{report.body}}
      </td>
      <td class="text-right">
        <button ng-if="report.status != 'discarted'" class="btn btn-sm btn-danger" ng-click="updateStatus(report, 'discarted')">Discard</button>
        <button ng-if="report.status != 'processing'" class="btn btn-sm btn-primary" ng-click="updateStatus(report, 'processing')">Processing</button>
        <button ng-if="report.status != 'closed'" class="btn btn-sm btn-success" ng-click="updateStatus(report, 'closed')">Close</button>
      </td>
    </tr>
  </tbody>
</table>