<navbar>
  <li access-level="accessLevels.admin" active-nav>
    <a href="/#/admin">Dashboard</a>
  </li>
  <li access-level="accessLevels.admin" active-nav>
    <a href="/#/admin/movies/new">Add Movie</a>
  </li>
  <li access-level="accessLevels.admin" active-nav>
    <a href="/#/admin/users/new">Add User</a>
  </li>
</navbar>
<admin-dashboard-nav></admin-dashboard-nav>
<h1>Movies reports</h1>
<table class="table table-striped">
  <tbody>
    <tr ng-repeat="report in reports">
      <td>
        <media media-id="{{report.media}}"></media>{{report.body}}
      </td>
    </tr>
  </tbody>
</table>