<navbar>
  <li access-level="accessLevels.admin" active-nav>
  <a href="/#/admin">Dashboard</a>
  </li>
  <li access-level="accessLevels.admin" active-nav>
    <a href="/#/admin/movies/new">Add Movie</a>
  </li>
  <li access-level="accessLevels.admin" active-nav>
    <a href="/#/admin/users/new">Add User</a>
  </li>
</navbar>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li active-nav><a href="/#/admin">Dashboard</a></li>
        <li active-nav><a href="/#/admin/reports">Reports</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>