<navbar>
  <li access-level="accessLevels.admin" active-nav>
    <a href="/#/admin">Dashboard</a>
  </li>
  <li access-level="accessLevels.admin" active-nav>
    <a href="/#/admin/movies/new">Add Movie</a>
  </li>
  <li access-level="accessLevels.admin" active-nav>
    <a href="/#/admin/users/new">Add User</a>
  </li>
</navbar>
<h1>{{movie.name}}</h1>
<legend>Movie metadata</legend>
<h-form ng-submit="save()" name="movieForm">
  <input type="hidden" name="_id" ng-model="movie._id"/>
  <h-form-input name="id" label="ID" type="text" ng-model="movie.id"></h-form-input>
  <h-form-input name="name" label="Title" type="text" ng-model="movie.name"></h-form-input>
  <h-form-input name="year" label="Release year" type="number" ng-model="movie.year"></h-form-input>
  <h-form-input name="imageUrl" label="Image URL" type="url" ng-model="movie.imageUrl"></h-form-input>
  <h-form-input name="genders" label="Genders" type="text" ng-model="movie.genders"></h-form-input>
  <h-form-input name="imdbUrl" label="IMDB URL" type="url" ng-model="movie.imdbUrl"></h-form-input>
  <h-form-input name="filmaffinityUrl" label="Filmaffinity URL" type="url" ng-model="movie.filmaffinityUrl"></h-form-input>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-disabled="movieForm.$invalid">Save changes</button>
      <!-- TODO: Delete comfirmation -->
      <button type="button" class="btn btn-danger" ng-click="deleteMovie()">Delete movie</button>
    </div>
  </div>
  <error ng-bind="error"></error>
</h-form>
<hr>
<h2>Medias</h2>
<button class="btn btn-primary" data-toggle="modal" data-target="#newMediaModal">Add media</button>
<ul style="margin-top: 10px; margin-bottom: 10px;" class="list-group">
  <li class="list-group-item" ng-repeat="media in movie.medias">
    {{media.audio.label}}:{{media.quality}} - <a href="{{media.src}}">{{media.src}}</a>
    <span class="pull-right">
      <!-- TODO: Delete confirmation -->
      <button class="btn btn-danger btn-xs" ng-click="deleteMedia(media._id)">Delete</button>
    </span>
  </li>
</ul>
<div class="modal fade" id="newMediaModal" tabindex="-1" role="dialog" aria-labelledby="newMediaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newMediaLabel">New Media</h4>
      </div>
      <div class="modal-body">
        <h-form name="mediaForm">
          <h-form-select label="Quality" ng-model="newMedia.quality">
            <option>4K</option>
            <option>2K</option>
            <option>1080p</option>
            <option>720p</option>
            <option>SD</option>
          </h-form-select>
          <h-form-input label="SRC" type="url" name="src" ng-model="newMedia.src"></h-form-input>
          <h-form-input label="Height" type="number" name="height" ng-model="newMedia.height"></h-form-input>
          <h-form-input label="Width" type="number" name="width" ng-model="newMedia.width"></h-form-input>
          <h-form-input label="Audio Language" name="audioLabel" ng-model="newMedia.audio.label"></h-form-input>
          <h-form-input label="Audio ISO" name="audioCode" ng-model="newMedia.audio.code"></h-form-input>
          <div ng-repeat="caption in newMedia.captions">
            <h-form-input label="Caption Label" ng-model="caption.locale.label"></h-form-input>
            <h-form-input label="Caption ISO" ng-model="caption.locale.code"></h-form-input>
            <h-form-input label="Caption SRC" type="url" ng-model="caption.src"></h-form-input>
          </div>
          <a href ng-click="addCaption()">Add caption</a>
        </h-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="createMedia()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->