<form autocomplete="off" role="form" ng-submit="login()" class="form-signin" name="loginForm">
  <h2 class="form-signin-heading">Please sign in</h2>
  <input type="email" ng-model="email" name="email" placeholder="Email address" required autofocus class="form-control">
  <input type="password" ng-model="password" name="password" placeholder="Password" requried class="form-control">
  <label class="checkbox">
    <input type="checkbox" value="remember-me" ng-model="rememberme"> Remember me
  </label>
  <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="loginForm.$invalid">Sign in</button>
</form>