<navbar></navbar>
<h1>
  {{ movie.name }}
  <span access-level="admin">
    <a class="btn btn-warning btn-xs" href="/#/admin/movie/{{movie.id}}/edit">
      <span class="glyphicon glyphicon-edit"></span> Edit
    </a>
  </span>
</h1>
<hr>
<div ng-if="movie.medias.length === 0" class="alert alert-info">
  <h3 style="margin-top: 0px;">Coming soon</h3>
  <p>There are no medias available for this movie yet.</p>
</div>
<div ng-if="movie.medias.length > 0" class="movie-player row">
  <div class="col-md-9">
    <video videojs class="video-js vjs-default-skin"></video>
    <div ng-controller="MediaErrorsPublisherCtrl">
      <span class="pull-right">
        <a href data-toggle="modal" data-target="#reportErrorModal" style="font-size: 0.8em;"><span class="glyphicon glyphicon-info-sign"></span> report an error</a>
      </span>
      <div class="modal fade" id="reportErrorModal" tabindex="-1" role="dialog" aria-labelledby="reportErrorLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="reportErrorLabel">Report an error</h4>
            </div>
            <div class="modal-body">
              <h-form name="reportForm">
                <div class="radio" ng-repeat="predef in predefs">
                  <input type="radio" ng-model="error.body" ng-value="predef" checked="false" name="body"/>
                  {{predef}}
                </div>
                <textarea style="margin-top: 1em;" class="form-control" placeholder="Error description" ng-model="error.body" required>
                </textarea>
              </h-form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" ng-disabled="reportForm.$invalid" ng-click="submit()">Send</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
  </div>
  <div class="col-md-3">
    <h3>Sources</h3>
    <div class="well well-sm">
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="m in movie.medias" ng-class="{active: m._id === media._id}">
          <a ng-href="/#/movies/{{movie.id}}/{{$index}}">{{m.audio.label}}:{{m.quality}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>